In [1]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

X,y=load_iris(as_frame=True,return_X_y=True)
X_train,X_test,y_train,y_test=train_test_split(X, y,test_size=0.2,shuffle=True)

In [5]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int32

In [2]:
X_train.shape

(120, 4)

In [2]:
import pandas as pd
df=pd.read_csv('dataset/IRIS.csv')
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
df['species'].value_counts()

species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [3]:
from sklearn.preprocessing import LabelEncoder
encode=LabelEncoder()
df['target']=encode.fit_transform(df['species'].values.reshape(-1,1))

C:\Users\Dell\anaconda3\envs\aiproject\lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [4]:
target_names=df['species']
target_names

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: species, Length: 150, dtype: object

In [10]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,target
0,5.1,3.5,1.4,0.2,Iris-setosa,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,2
146,6.3,2.5,5.0,1.9,Iris-virginica,2
147,6.5,3.0,5.2,2.0,Iris-virginica,2
148,6.2,3.4,5.4,2.3,Iris-virginica,2
149,5.9,3.0,5.1,1.8,Iris-virginica,2

In [5]:
X=df.iloc[:,0:-2]
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [6]:
y=df.iloc[:,5] #y=df['target'] 
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int32

In [18]:
df['target']

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int32

In [23]:
df.iloc[:,-1]

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int32

In [24]:
len(X)

150

In [25]:
len(y)

150

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.12,shuffle=True) #random=0 42

In [27]:
X_train.shape,y_train.shape

((132, 4), (132,))

In [28]:
X_test.shape,y_test.shape

((18, 4), (18,))

In [29]:
from sklearn.linear_model import LinearRegression
lr_model=LinearRegression()
lr_model.fit(X,y) #training

C:\Users\Dell\anaconda3\envs\aiproject\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\Dell\anaconda3\envs\aiproject\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\Dell\anaconda3\envs\aiproject\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\Users\Dell\anaconda3\envs\aiproject\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\Dell\anaconda3\envs\aiproject\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

LinearRegression()

In [30]:
lr_model.intercept_

0.19208399482814353

In [31]:
lr_model.coef_

array([-0.10974146, -0.04424045,  0.22700138,  0.60989412])

In [41]:
X_test

     sepal_length  sepal_width  petal_length  petal_width
26            5.0          3.4           1.6          0.4
22            4.6          3.6           1.0          0.2
95            5.7          3.0           4.2          1.2
115           6.4          3.2           5.3          2.3
0             5.1          3.5           1.4          0.2
130           7.4          2.8           6.1          1.9
65            6.7          3.1           4.4          1.4
114           5.8          2.8           5.1          2.4
85            6.0          3.4           4.5          1.6
33            5.5          4.2           1.4          0.2
32            5.2          4.1           1.5          0.1
79            5.7          2.6           3.5          1.0
88            5.6          3.0           4.1          1.3
133           6.3          2.8           5.1          1.5
17            5.1          3.5           1.4          0.3
38            4.4          3.0           1.3          0.2
64            5.6          2.9           3.6          1.3
146           6.3          2.5           5.0          1.9

In [42]:
lr_model.predict(X_test)

C:\Users\Dell\anaconda3\envs\aiproject\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\Dell\anaconda3\envs\aiproject\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\Dell\anaconda3\envs\aiproject\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

array([ 0.10011902, -0.12301214,  1.11911506,  1.954033  , -0.08265827,
        1.79963117,  1.17232866,  2.05316319,  1.38055451, -0.15752317,
       -0.15846596,  0.85593145,  1.16837848,  1.44938775, -0.02166886,
       -0.00641916,  1.05930184,  1.6839174 ])

In [9]:
X_test

     sepal_length  sepal_width  petal_length  petal_width
20            5.4          3.4           1.7          0.2
102           7.1          3.0           5.9          2.1
130           7.4          2.8           6.1          1.9
110           6.5          3.2           5.1          2.0
123           6.3          2.7           4.9          1.8
28            5.2          3.4           1.4          0.2
38            4.4          3.0           1.3          0.2
114           5.8          2.8           5.1          2.4
83            6.0          2.7           5.1          1.6
8             4.4          2.9           1.4          0.2
148           6.2          3.4           5.4          2.3
93            5.0          2.3           3.3          1.0
90            5.5          2.6           4.4          1.2
35            5.0          3.2           1.2          0.2
54            6.5          2.8           4.6          1.5
119           6.0          2.2           5.0          1.5
146           6.3          2.5           5.0          1.9
65            6.7          3.1           4.4          1.4

In [11]:
X_test.loc[65]

sepal_length    6.7
sepal_width     3.1
petal_length    4.4
petal_width     1.4
Name: 65, dtype: float64