In [12]:
import pandas as pd
df=pd.read_csv('dataset/IRIS.csv')
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [2]:
df['species']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: species, Length: 150, dtype: object

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['specie_names']=le.fit_transform(df['species'].values.reshape(-1,1))

C:\Users\Dell\anaconda3\envs\aiproject\lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [5]:
df['specie_names'].value_counts()

specie_names
0    50
1    50
2    50
Name: count, dtype: int64

In [7]:
df.drop('species',axis=1,inplace=True)

In [8]:
df

     sepal_length  sepal_width  petal_length  petal_width  specie_names
0             5.1          3.5           1.4          0.2             0
1             4.9          3.0           1.4          0.2             0
2             4.7          3.2           1.3          0.2             0
3             4.6          3.1           1.5          0.2             0
4             5.0          3.6           1.4          0.2             0
..            ...          ...           ...          ...           ...
145           6.7          3.0           5.2          2.3             2
146           6.3          2.5           5.0          1.9             2
147           6.5          3.0           5.2          2.0             2
148           6.2          3.4           5.4          2.3             2
149           5.9          3.0           5.1          1.8             2

[150 rows x 5 columns]

In [10]:
df.species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [25]:
#one hot encoder
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
enc.fit_transform(df['species'].values.reshape(-1,1)).toarray()

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

In [17]:
import pandas as pd
pd.get_dummies(df,columns=['species'])

,sepal_length,sepal_width,petal_length,petal_width,species_Iris-setosa,species_Iris-versicolor,species_Iris-virginica
0,5.1,3.5,1.4,0.2,True,False,False
1,4.9,3.0,1.4,0.2,True,False,False
2,4.7,3.2,1.3,0.2,True,False,False
3,4.6,3.1,1.5,0.2,True,False,False
4,5.0,3.6,1.4,0.2,True,False,False
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,False,False,True
146,6.3,2.5,5.0,1.9,False,False,True
147,6.5,3.0,5.2,2.0,False,False,True
148,6.2,3.4,5.4,2.3,False,False,True
149,5.9,3.0,5.1,1.8,False,False,True

In [27]:
df['sepal_length'].mean()

5.843333333333334

In [28]:
df['sepal_length'].std()

0.8280661279778629

In [33]:
df['sepal_length'].min()

4.3

In [34]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
print(scaler.fit_transform(df['sepal_length'].values.reshape(-1,1)))

[[-0.90068117]
 [-1.14301691]
 [-1.38535265]
 [-1.50652052]
 [-1.02184904]
 [-0.53717756]
 [-1.50652052]
 [-1.02184904]
 [-1.74885626]
 [-1.14301691]
 [-0.53717756]
 [-1.26418478]
 [-1.26418478]
 [-1.87002413]
 [-0.05250608]
 [-0.17367395]
 [-0.53717756]
 [-0.90068117]
 [-0.17367395]
 [-0.90068117]
 [-0.53717756]
 [-0.90068117]
 [-1.50652052]
 [-0.90068117]
 [-1.26418478]
 [-1.02184904]
 [-1.02184904]
 [-0.7795133 ]
 [-0.7795133 ]
 [-1.38535265]
 [-1.26418478]
 [-0.53717756]
 [-0.7795133 ]
 [-0.41600969]
 [-1.14301691]
 [-1.02184904]
 [-0.41600969]
 [-1.14301691]
 [-1.74885626]
 [-0.90068117]
 [-1.02184904]
 [-1.62768839]
 [-1.74885626]
 [-1.02184904]
 [-0.90068117]
 [-1.26418478]
 [-0.90068117]
 [-1.50652052]
 [-0.65834543]
 [-1.02184904]
 [ 1.40150837]
 [ 0.67450115]
 [ 1.2803405 ]
 [-0.41600969]
 [ 0.79566902]
 [-0.17367395]
 [ 0.55333328]
 [-1.14301691]
 [ 0.91683689]
 [-0.7795133 ]
 [-1.02184904]
 [ 0.06866179]
 [ 0.18982966]
 [ 0.31099753]
 [-0.29484182]
 [ 1.03800476]
 [-0.29484182]
 [-0.05250608]
 [ 0.4321654 ]
 [-0.29484182]
 [ 0.06866179]
 [ 0.31099753]
 [ 0.55333328]
 [ 0.31099753]
 [ 0.67450115]
 [ 0.91683689]
 [ 1.15917263]
 [ 1.03800476]
 [ 0.18982966]
 [-0.17367395]
 [-0.41600969]
 [-0.41600969]
 [-0.05250608]
 [ 0.18982966]
 [-0.53717756]
 [ 0.18982966]
 [ 1.03800476]
 [ 0.55333328]
 [-0.29484182]
 [-0.41600969]
 [-0.41600969]
 [ 0.31099753]
 [-0.05250608]
 [-1.02184904]
 [-0.29484182]
 [-0.17367395]
 [-0.17367395]
 [ 0.4321654 ]
 [-0.90068117]
 [-0.17367395]
 [ 0.55333328]
 [-0.05250608]
 [ 1.52267624]
 [ 0.55333328]
 [ 0.79566902]
 [ 2.12851559]
 [-1.14301691]
 [ 1.76501198]
 [ 1.03800476]
 [ 1.64384411]
 [ 0.79566902]
 [ 0.67450115]
 [ 1.15917263]
 [-0.17367395]
 [-0.05250608]
 [ 0.67450115]
 [ 0.79566902]
 [ 2.24968346]
 [ 2.24968346]
 [ 0.18982966]
 [ 1.2803405 ]
 [-0.29484182]
 [ 2.24968346]
 [ 0.55333328]
 [ 1.03800476]
 [ 1.64384411]
 [ 0.4321654 ]
 [ 0.31099753]
 [ 0.67450115]
 [ 1.64384411]
 [ 1.88617985]
 [ 2.4920192 ]
 [ 0.67450115]
 [ 0.55333328]
 [ 0.31099753]
 [ 2.24968346]
 [ 0.55333328]
 [ 0.67450115]
 [ 0.18982966]
 [ 1.2803405 ]
 [ 1.03800476]
 [ 1.2803405 ]
 [-0.05250608]
 [ 1.15917263]
 [ 1.03800476]
 [ 1.03800476]
 [ 0.55333328]
 [ 0.79566902]
 [ 0.4321654 ]
 [ 0.06866179]]